extends layout

block content
    h1= title
    p(class="message")

    each user in users
        div
            form(class="user-info-form")
                span 用户id:#{user.getId()},
                input(type="hidden",name="id",required="required",value=user.getId())
                span 用户名:
                input(type="text",name="name",required="required",value=user.name)
                span ,年龄:
                input(type="number",name="age",required="required",value=user.age)
                input(type="submit",value="保存")


    script(src="javascripts/index.js")